<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
    <persistence-unit name="ProgramPU" transaction-type="JTA">
        <jta-data-source>java:app/jdbc/program</jta-data-source>
        <class>entity.domain.CompetitionMatch</class>
        <class>entity.domain.Episode</class>
        <class>entity.domain.Publicfigure</class>
        <class>entity.domain.Question</class>
        <class>entity.domain.Questionpoint</class>
        <class>entity.domain.Questionsubject</class>
        <class>entity.domain.School</class>
        <class>entity.domain.Stage</class>
        <exclude-unlisted-classes>false</exclude-unlisted-classes>
        <properties>
            <property name="javax.persistence.schema-generation.database.action" value="create"/>
            <property name="eclipselink.logging.level.sql" value="FINE"/>
            <property name="eclipselink.logging.parameters" value="true"/>   
        </properties>
    </persistence-unit>
</persistence>
